In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [ ]:
df=pd.read_csv("placementdata.csv")

In [ ]:
print(df.shape)

(10000, 12)

In [ ]:
df.columns

Index(['StudentID', 'CGPA', 'Internships', 'Projects',
       'Workshops/Certifications', 'AptitudeTestScore', 'SoftSkillsRating',
       'ExtracurricularActivities', 'PlacementTraining', 'SSC_Marks',
       'HSC_Marks', 'PlacementStatus'],
      dtype='object')

In [5]:
df.describe()

,StudentID,CGPA,Internships,Projects,Workshops/Certifications,AptitudeTestScore,SoftSkillsRating,SSC_Marks,HSC_Marks
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,7.698010,1.049200,2.026600,1.013300,79.449900,4.323960,69.159400,74.501500
std,2886.89568,0.640131,0.665901,0.867968,0.904326,8.159997,0.411622,10.430459,8.919527
min,1.00000,6.500000,0.000000,0.000000,0.000000,60.000000,3.000000,55.000000,57.000000
25%,2500.75000,7.400000,1.000000,1.000000,0.000000,73.000000,4.000000,59.000000,67.000000
50%,5000.50000,7.700000,1.000000,2.000000,1.000000,80.000000,4.400000,70.000000,73.000000
75%,7500.25000,8.200000,1.000000,3.000000,2.000000,87.000000,4.700000,78.000000,83.000000
max,10000.00000,9.100000,2.000000,3.000000,3.000000,90.000000,4.800000,90.000000,88.000000

In [6]:
df.dtypes

StudentID                      int64
CGPA                         float64
Internships                    int64
Projects                       int64
Workshops/Certifications       int64
AptitudeTestScore              int64
SoftSkillsRating             float64
ExtracurricularActivities     object
PlacementTraining             object
SSC_Marks                      int64
HSC_Marks                      int64
PlacementStatus               object
dtype: object

In [7]:
print(df['ExtracurricularActivities'].unique())

['No' 'Yes']

In [8]:
print(df['PlacementTraining'].unique())

['No' 'Yes']

In [9]:
print(df['PlacementStatus'].unique())

['NotPlaced' 'Placed']

In [10]:
print(df['CGPA'].unique())

[7.5 8.9 7.3 8.3 7.  7.7 6.5 7.8 7.9 7.4 8.6 8.2 6.8 7.6 6.7 8.4 8.5 6.9
 8.1 8.8 8.  6.6 7.2 7.1 8.7 9.  9.1]

In [11]:
df['PlacementStatus'].value_counts()

PlacementStatus
NotPlaced    5803
Placed       4197
Name: count, dtype: int64

In [12]:
len(df)

10000

In [13]:
df.head()

,StudentID,CGPA,Internships,Projects,Workshops/Certifications,AptitudeTestScore,SoftSkillsRating,ExtracurricularActivities,PlacementTraining,SSC_Marks,HSC_Marks,PlacementStatus
0,1,7.5,1,1,1,65,4.4,No,No,61,79,NotPlaced
1,2,8.9,0,3,2,90,4.0,Yes,Yes,78,82,Placed
2,3,7.3,1,2,2,82,4.8,Yes,No,79,80,NotPlaced
3,4,7.5,1,1,2,85,4.4,Yes,Yes,81,80,Placed
4,5,8.3,1,2,2,86,4.5,Yes,Yes,74,88,Placed

In [14]:
# Identify missing values
missing_values = df.isnull().sum()
print(missing_values)

StudentID                    0
CGPA                         0
Internships                  0
Projects                     0
Workshops/Certifications     0
AptitudeTestScore            0
SoftSkillsRating             0
ExtracurricularActivities    0
PlacementTraining            0
SSC_Marks                    0
HSC_Marks                    0
PlacementStatus              0
dtype: int64

In [15]:
# Get the mean and convert to int
a = df['Workshops/Certifications'].mean()
a_int = int(a)  # Convert the mean to an integer

# Fill missing values in the column with the integer value
df['Workshops/Certifications'] = df['Workshops/Certifications'].fillna(a_int)

print(df.head())

   StudentID  CGPA  Internships  Projects  Workshops/Certifications  \
0          1   7.5            1         1                         1
1          2   8.9            0         3                         2
2          3   7.3            1         2                         2
3          4   7.5            1         1                         2
4          5   8.3            1         2                         2

   AptitudeTestScore  SoftSkillsRating ExtracurricularActivities  \
0                 65               4.4                        No
1                 90               4.0                       Yes
2                 82               4.8                       Yes
3                 85               4.4                       Yes
4                 86               4.5                       Yes

  PlacementTraining  SSC_Marks  HSC_Marks PlacementStatus
0                No         61         79       NotPlaced
1               Yes         78         82          Placed
2                No         79         80       NotPlaced
3               Yes         81         80          Placed
4               Yes         74         88          Placed

In [16]:
encoder = LabelEncoder()
df['PlacementTraining'] = encoder.fit_transform(df['PlacementTraining'])
df['ExtracurricularActivities'] = encoder.fit_transform(df['ExtracurricularActivities'])
df['PlacementStatus'] = encoder.fit_transform(df['PlacementStatus'])

# print(f"{df['StudentID']} :- {df['PlacementTraining']} , {df['ExtracurricularActivities']} , {df['PlacementStatus']}")
print(df['PlacementTraining'])
print(df['ExtracurricularActivities'])
print(df['PlacementStatus'])
df.head()

0       0
1       1
2       0
3       1
4       1
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: PlacementTraining, Length: 10000, dtype: int32
0       0
1       1
2       1
3       1
4       1
       ..
9995    1
9996    0
9997    1
9998    1
9999    0
Name: ExtracurricularActivities, Length: 10000, dtype: int32
0       0
1       1
2       0
3       1
4       1
       ..
9995    0
9996    1
9997    1
9998    1
9999    0
Name: PlacementStatus, Length: 10000, dtype: int32

,StudentID,CGPA,Internships,Projects,Workshops/Certifications,AptitudeTestScore,SoftSkillsRating,ExtracurricularActivities,PlacementTraining,SSC_Marks,HSC_Marks,PlacementStatus
0,1,7.5,1,1,1,65,4.4,0,0,61,79,0
1,2,8.9,0,3,2,90,4.0,1,1,78,82,1
2,3,7.3,1,2,2,82,4.8,1,0,79,80,0
3,4,7.5,1,1,2,85,4.4,1,1,81,80,1
4,5,8.3,1,2,2,86,4.5,1,1,74,88,1

In [17]:
# Features
X = df[['CGPA', 'Internships', 'Projects', 'Workshops/Certifications', 'AptitudeTestScore']]

# Target
y = df['PlacementStatus']
print(X)

      CGPA  Internships  Projects  Workshops/Certifications  AptitudeTestScore
0      7.5            1         1                         1                 65
1      8.9            0         3                         2                 90
2      7.3            1         2                         2                 82
3      7.5            1         1                         2                 85
4      8.3            1         2                         2                 86
...    ...          ...       ...                       ...                ...
9995   7.5            1         1                         2                 72
9996   7.4            0         1                         0                 90
9997   8.4            1         3                         0                 70
9998   8.9            0         3                         2                 87
9999   8.4            0         1                         1                 66

[10000 rows x 5 columns]

In [18]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


# Scale features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Print the shapes of the resulting datasets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (8000, 5)
X_test shape: (2000, 5)
y_train shape: (8000,)
y_test shape: (2000,)

In [19]:
import joblib
model = LogisticRegression()
model.fit(X_train, y_train)

# Save the model and scaler
joblib.dump(model,"placement_model.pkl")
joblib.dump(scaler,"scaler.pkl")

['scaler.pkl']

In [ ]:
import pandas as pd
import numpy as np
import joblib
import tkinter as tk
from tkinter import ttk

# Load Model and Scaler
model = joblib.load("placement_model.pkl")
scaler = joblib.load("scaler.pkl")

# Predefined dropdown values
dropdown_values = {
    "CGPA": [5.0, 6.0, 7.0, 8.0, 9.0, 10.0],
    "Projects": [0, 1, 2, 3, 4, 5],
    "Workshops/Certifications": [0, 1, 2, 3, 4, 5],
    "Aptitude Test Score": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
    "Internships": [0, 1, 2, 3, 4]
}

# Function to Predict Placement
def predict_placement():
    try:
        # Get user input
        cgpa = float(entry_cgpa.get())
        projects = int(entry_projects.get())
        workshops_certifications = int(entry_workshops_certifications.get())
        aptitudeTestScore = float(entry_aptitudeTestScore.get())
        internships = int(entry_internships.get())

        # Prepare input data
        input_data = np.array([[cgpa, projects, workshops_certifications, aptitudeTestScore, internships]])
        input_data = scaler.transform(input_data)

        # Make prediction
        prediction = model.predict(input_data)
        placed = prediction[0] == 1

        # Show styled output box
        show_result(placed)

    except ValueError:
        show_result(None)

# Function to Show Custom Result Box
def show_result(placed):
    result_box = tk.Toplevel(root)
    result_box.geometry("400x200")
    result_box.resizable(False, False)

    if placed is None:
        result_box.config(bg="#6c757d")  # Gray for error
        title = "Error"
        message = "❌ Invalid Input\nPlease enter valid numeric values."
        color = "#ffcc00"
    elif placed:
        result_box.config(bg="#28a745")  # Green for Placed
        title = "Congratulations!"
        message = "✅ Placed\nYou have a high chance of placement!"
        color = "white"
    else:
        result_box.config(bg="#dc3545")  # Red for Not Placed
        title = "Better Luck Next Time!"
        message = "❌ Not Placed\nKeep improving your skills and try again."
        color = "white" 

    result_box.title(title)
    
    label = tk.Label(result_box, text=message, fg=color, bg=result_box["bg"], 
                     font=("Arial", 12), justify="center", padx=10, pady=10)
    label.pack(expand=True)

    ok_button = tk.Button(result_box, text="OK", command=result_box.destroy, 
                          font=("Arial", 10), bg="white", padx=10, pady=5)
    ok_button.pack(pady=10)
   
# Function to Exit Application
def exit_application():
    root.destroy()

# Create Main Window
root = tk.Tk()
root.title("Placement Prediction")
root.geometry("600x600")  # Increased size for better spacing
root.config(bg="#1E1E2E")  # Dark Background

# Styling
style = ttk.Style()
style.configure("TLabel", font=("Arial", 14), background="#1E1E2E", foreground="white")
style.configure("TEntry", font=("Arial", 14), padding=5)
style.configure("TButton", font=("Arial", 14, "bold"), background="#4A90E2", foreground="white", padding=10)

# Big Box Container
container = tk.Frame(root, bg="#2A2D3E", bd=5, relief="ridge")
container.place(relx=0.5, rely=0.5, anchor="center", width=500, height=450)  # Adjusted size

# Title
title_label = tk.Label(container, text="Placement Prediction", font=("Arial", 18, "bold"), bg="#2A2D3E", fg="white")
title_label.pack(pady=15)

# Input Frame
input_frame = tk.Frame(container, bg="#2A2D3E")
input_frame.pack()

# Input Fields with Labels
entries = {}
for i, (label, values) in enumerate(dropdown_values.items()):
    ttk.Label(input_frame, text=label).grid(row=i, column=0, pady=8, padx=10, sticky="w")
    var = tk.StringVar()
    combobox = ttk.Combobox(input_frame, textvariable=var, values=values, width=22, state="normal")
    combobox.grid(row=i, column=1, pady=8, padx=10)
    combobox.set(values[0])  # Default value
    entries[label] = combobox

entry_cgpa = entries["CGPA"]
entry_projects = entries["Projects"]
entry_workshops_certifications = entries["Workshops/Certifications"]
entry_aptitudeTestScore = entries["Aptitude Test Score"]
entry_internships = entries["Internships"]

# Button with hover effect
def on_enter(e):
    predict_btn.config(bg="#316AC5")

def on_leave(e):
    predict_btn.config(bg="#4A90E2")

predict_btn = tk.Button(container, text="Predict Placement", font=("Arial", 14, "bold"), bg="#4A90E2", fg="white",
                        activebackground="#316AC5", activeforeground="white", padx=10, pady=5, command=predict_placement)
predict_btn.pack(pady=15)

predict_btn.bind("<Enter>", on_enter)
predict_btn.bind("<Leave>", on_leave)

# Exit Button
exit_btn = tk.Button(container, text="Exit", font=("Arial", 14, "bold"), bg="#D9534F", fg="white",
                     activebackground="#A94442", activeforeground="white", padx=10, pady=5, command=exit_application)
exit_btn.pack(pady=10)

# Run GUI
root.mainloop()

D:\Users\JIVANI MIRALI\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
D:\Users\JIVANI MIRALI\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
D:\Users\JIVANI MIRALI\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
D:\Users\JIVANI MIRALI\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(